<br>
<br>
<center>
<footer class="footer-basic-centered" style="bottom:0; background-color: #F2F1F0;  width:100%">
    <!--<p class="footer-company-motto">The testing app.</p>-->
    <p class="footer-links">
        <a href="/">Home</a>
        ·
        <a href="/about">About</a>
        ·
    </p>
    <p class="footer-company-name">Jubin Mathew and Himanshu Kumar  © 2016</p>
</footer>
</center>